body {
  font-family: 'Dosis', 'Roboto', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

h1,
h2,
p {
  line-height: 1.1;
  margin: 1rem 0;
  font-family: 'Dosis', 'Roboto', 'Arial', sans-serif;
}

h1 {
  font-family: 'Dancing Script', cursive, 'Brush Script MT', 'Comic Sans MS', serif;
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.7rem;
  font-weight: 500;
}

p, a {
  font-size: 1.20rem;
  font-weight: 500;
  line-height: 1.5;
}

button {
  font-family: 'Dosis', 'Roboto', 'Arial', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}