body {
  font-family: 'Dosis', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.1;
  margin: 1rem 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 3.5rem;
  font-weight: 600;
}

h2 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
}

h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  text-transform: uppercase;
}

h4, h5, h6 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}

p, a {
  font-family: 'Dosis', sans-serif;
  font-size: 1.20rem;
  font-weight: 500;
  line-height: 1.5;
}

button {
  font-family: 'Dosis', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
}